<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue todos</title>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <input type="text" v-model="title" @keydown.enter="addTodo">
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                <!-- 动态样式任务，提供了语法支持 -->
                <span :class="{done:todo.done}">{{todo.title}}</span>
            </li>
        </ul>
    </div>
    <script>
        const app = {
            data() {
                return {
                    title: "",
                    todos: [
                        { title: "吃饭", done: false },
                        { title: "睡觉", done: true },
                        { title: "打豆豆", done: false }
                    ]
                }
            },
            methods: {
                addTodo() {
                    // this.data.todos
                    this.todos.push({
                        title: this.title,
                        done: false
                    })
                    this.title = ""
                }
            }
        }
        Vue.createApp(app).mount("#app")
    </script>
    <style>
        .done {
            color: gray;
            text-decoration: line-through;
        }
    </style>
</body>

</html>